---
layout: default
---
<br>
<div class="row">
    <div class="col-3">
        <a href="https://www.aclu.org/donate-aclu?ms=web_horiz_nav_hp">Donate to the ACLU</a>
        <br>
        <a href="https://www.translifeline.org/donate/">Donate to the Trans Lifeline</a>
    </div>
    <div class="col-9">
        <h1>trans people matter.</h1>
        <br>
        <p>
            On Sunday October 21st, word broke that the Trump administration had plans in place to define gender as male and female, and assigned at birth. This is a gross erasure of the hundreds of thousands of trans people
            that live in the United States.
            <br>
            <br>
            Below are some links to information on registering to vote, and organizations you can donate to in order to support the trans community under the Trump administration.
            Show the white house that we will not stand for policy based on hatred and intolerance.
        </p>
        <div class="row">
            <h1 class="w-100">register to vote.</h1>
            <a href="https://vote.gov" class="col-2"><i class="fas fa-check-square fa-8x"></i></a>
            <p>
                The very first thing you can do is ensure you are registered to vote. With the midterms coming up it is important to ensure our voices are heard.
                requirements vary from state to state, but you can click the checkbox icon to the left to be take to a site that will help you register to vote in
                your state of residence.
            </p>
        </div>
        <div class="row">
            <h1 class="w-100">find your polling place.</h1>
            <a href="https://www.headcount.org/find-your-polling-place/" class="col-2"><i class="fas fa-map-marked-alt fa-7x"></i></a>
            <p>
                Once you're registered to vote, ensure you know where your polling place is. Click on the icon to the left to be redirected to a site that will help you find it.
                Lyft is also offering free rides on election day, so take advantage of that if needed.
            </p>
        </div>
        <div>
            <h1 class="w-100">donate.</h1>
            <a href="https://www.headcount.org/find-your-polling-place/"><i class="fas fa-hand-holding-usd fa-8x"></i></i></a>
            <p>
                There are many good organizations you can donate to to support the trans community. There are some links in the sidebar of the site to some recommended ones.
            </p>
        </div>
    </div>
</div>