---
layout: default
---
<br>
<div class="row">
    <!-- <div class="col-3">
        <a href="https://www.aclu.org/donate-aclu?ms=web_horiz_nav_hp">Donate to the ACLU</a>
        <br>
        <a href="https://www.translifeline.org/donate/">Donate to the Trans Lifeline</a>
    </div> -->
    <div class="col-12">
        <h1 class="row"><strong>Trans People Matter.</strong></h1>
        <br>
        <p>
            On Sunday October 21st, word broke that the Trump administration had plans in place to define gender as
            male and female, and assigned at birth. This is a gross erasure of the hundreds of thousands of trans
            people that live in the United States.
            <br>
            <br>
            Below are some links to information on registering to vote, and organizations you can donate to in order to
            support the trans community under the Trump administration.
            Show the white house that we will not stand for policy based on hatred and intolerance.
        </p>
        <br>
        <div class="row">
            <div class="col-6 cta">
                <a href="https://vote.gov"><i class="fas fa-check-square fa-6x"></i></a>
                <br>
                <br>
                <a href="https://vote.gov">
                    <h2>Register to vote.</h2>
                </a>
                <p>
                    The very first thing you can do is ensure you are registered to vote.
                    requirements vary from state to state, but you can click here to go to to a site that will help you register to vote in your state of residence.
                </p>
            </div>
            <br>
            <br>
            <div class="col-6 cta">
                <a href="https://www.headcount.org/find-your-polling-place/"><i class="fas fa-map-marked-alt fa-6x"></i></a>
                <br>
                <br>
                <a href="https://www.headcount.org/find-your-polling-place/">
                    <h2>Find your polling place.</h2>
                </a>
                <p>
                    Once you're registered to vote, ensure you know where your polling place is. Click on the icon to
                    the left to be redirected to a site that will help you find it.
                    Lyft is also offering free rides on election day, so take advantage of that if needed.
                </p>
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-6 cta">
                <a href="https://aclu.org/donate"><i class="fas fa-hand-holding-usd fa-6x"></i></i></a>
                <br>
                <br>
                <a href="https://aclu.org/donate">
                    <h2>Donate.</h2>
                </a>
                <p>
                    There are many good organizations you can donate to to support the trans community. Click here to get some
                    more information on some of them, and find links to donate.
            </div>
            <div class="col-6 cta">
                <a href="https://callyourrep.co/"><i class="fas fa-bullhorn fa-6x"></i></a>
                <br>
                <br>
                <a href="https://callyourrep.co/">
                    <h2>Speak up.</h2>
                </a>
                <p>
                    Click here to call your representative and let them know that you will not stand for the erasure of the trans
                    community in the United States.
                </p>
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-6 cta">
                <a href="#"><i class="fas fa-hands-helping fa-6x"></i></a>
                <br>
                <br>
                <a href="#">
                    <h2>Get involved. (coming soon)</h2>
                </a>
                <p>
                    If you aren't in a position to donate money, you can volunteer your time. Click here to be connected with volunteer
                    opportunities.
                </p>
            </div>
            <br>
            <br>
            <div class="col-6 cta">
                <a href="https://www.translifeline.org/hotline"><i class="fas fa-mobile-alt fa-6x"></i></i></a>
                <br>
                <br>
                <a href="https://www.translifeline.org/hotline">
                    <h2>Talk to someone.</h2>
                </a>
                <p>
                    Need to talk to somebody about what's going on? The trans lifeline is a great resource. Click above to be redirected to their contact page.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
